@{
    Layout = "_ShopAdministratorLayout";
}
<h2>Shop management</h2>

<p>Здравейте!</p>
<p>Като магазинер, Вие имате определени права и отговорности в магазина на сайта!</p>
<p>Благодарим, че сте част от екипа!</p>