<div class="global-container">
    <article class="welcome">
        <header>Добре дошли, скъпи съграждани!</header>
        <main>Асистент за жилищната общност(Residential Community Assistant) е приложение за организиране на живущите на дадена сграда.</main>       
    </article>
    <a asp-controller="Home" asp-action="AddressSearch">Търсене на адрес</a>
</div>