
    <div>
        <h2>Address not found</h2>
        <p>Адресът, който търсите не е намерен.</p>
        <p>Всеки адрес трябва да има домоуправител, който първоначално въвежда всички апартаментi и има административни задължения към въведената сграда и живущите в нея.</p>
        <p>Желаете ли да станете домоуправител?</p>
    </div>
    <div>
    <a asp-controller="HomeManager" asp-action="BecomeHomeManager">Да, желая да стана домоуправител</a>
    </div>

