
    <div>
        <h2>Address not found</h2>
        <p>Адресът, който търсите не е намерен.</p>
        <p>Всеки адрес трябва да има домоуправител, който първоначално въвежда всички апартаменти и има административни задължения към въведената сграда и живущите в нея.</p>
        <p>Желаете ли да станете домоуправител?</p>
    </div>
    <div>

    <form method="get" asp-controller="HomeManager" asp-action="AddAddress">
        <input type="submit" class="btn btn-primary" value="Да, желая да стана домоуправител" />
    </form>
    </div>

